body{
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}

#b{
    width: 300px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid white 3px;    
    color: white;
    background-color: black;
    font:normal 30px Arial;
}

#b:active{
    background-color: rgba(78, 78, 78, 0.81);
}

.int{
    width: 500px;
    height: 450px;
    background-color: black;
    border: solid white 3px;
    padding: 5px;
}
